@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    padding: 5px 20px;
    background-color: rgb(2, 2, 50);
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 3px solid #f3f4f7;
    gap: 15%;
    z-index: 9999;
}

nav.scrolled {
    border-bottom: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 25px;
    cursor: pointer;
    text-align: center;
    height: auto;
}

.nav-item {
    font-size: large;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1);
        text-shadow: 0 0 20px #fff;
        color: #688fd2;
    }

    color: #fff;
}

.logo img {
    height: 100px;
    width: auto;
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px rgba(104, 143, 210, 0.8));
}